.venv*
.spark-venv*
__pycache__*
.git/*
/data_tbl/*
*__pycache__*
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite
*.log
*.csv
*.parquet
*.json
*.xlsx
*.xls
*.tsv
*.txt
*.slurm
jdk-*/
spark-*/
openjdk-*/
*_bin.tar.gz
*.tgz